
@import 'variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: $black;
    transition: .3s;
}

/* Banner Background overlay color */ 
.overlay-bg {
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: 2;
    &:before {
        position: absolute;
        content: "";
        background-color: #333;
        width: 100%;
        height: 100%;
        opacity: .85;
        top: 0;
        left: 0;
        z-index: -1;
    }
  }

/* Banner Button CSS */ 
.btn {
    padding: 10px 30px;
    // border-radius: 5px;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    &.btn-box {
        background-color: $brandcolor;
    }
    &:hover {
        background-color: $black2;
        transition: .3s;
    }
}





/* Flex CSS */
$flex:flex, inline-flex;
@each $value in $flex{
    .d-#{$value}{
        display: $value;
    }
} 

/* Justify CSS */
$justify:start, end, center, space-between, space-around, space-evenly, ;
@each $value in $justify{
    .justify-#{$value}{
        justify-content: $value;
    }
}


/* align-items CSS */
$align-items:center, stretch, flex-start, flex-end, baseline;
@each $value in $align-items{
    .align-#{$value}{
        align-items: $value;
    }
}