
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&display=swap');


body{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

/* Theme Custom Heading */ 
$heading: (h1, 40px, 48px, 700), (h2, 50px, 75px, 800), (h3, 16px, 18px, 700), (h4, 40px, 28px, 600), (p, 15px, 27px, 400),(span, 22px, 27px, 400);
@each $title, $font_size, $line_heignt, $font_wait in  $heading{
    #{$title}{
        font-size:$font_size;
        line-height: $line_heignt;
        font-weight: $font_wait;
    }
}


/* Theme Custom Padding */ 
@for $i from 1 through 10{
    .pt-#{$i * 10}{
        padding-top: $i * 10px;
    }

    .pb-#{$i * 10}{
        padding-bottom: $i * 10px;
    }

    .mt-#{$i * 10}{
        margin-top: $i * 10px;
    }
    .mb-#{$i * 10}{
        margin-bottom: $i * 10px;
    }

}
