/* Theme color */
/* Common Color */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  transition: 0.3s;
}

/* Banner Background overlay color */
.overlay-bg {
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 2;
}
.overlay-bg:before {
  position: absolute;
  content: "";
  background-color: #333;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Banner Button CSS */
.btn {
  padding: 10px 30px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.btn.btn-box {
  background-color: #ff3636;
}
.btn:hover {
  background-color: #333;
  transition: 0.3s;
}

/* Flex CSS */
.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

/* Justify CSS */
.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

/* align-items CSS */
.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/* Theme Custom Heading */
h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h2 {
  font-size: 50px;
  line-height: 75px;
  font-weight: 800;
}

h3 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

h4 {
  font-size: 40px;
  line-height: 28px;
  font-weight: 600;
}

p {
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
}

span {
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
}

/* Theme Custom Padding */
.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

/* Theme color */
/* Common Color */
.container {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-12 {
    width: 100%;
    padding: 0 15px;
  }
}
/* Section Title */
.title {
  text-align: center;
  margin-bottom: 40px;
}
.title span {
  font-family: Oleo Script;
  text-transform: lowercase;
  display: block;
}
.title h4 {
  text-transform: capitalize;
  font-weight: 800;
  margin-top: 15px;
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
}
.title h4:before {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  background-color: #ff3636;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.title h4:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background-color: #ff3636;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
}

.header_area {
  padding: 22px 0;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
}
.header_area .header_menu ul li a {
  display: block;
  margin-left: 25px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.header_area .header_menu ul li a:hover {
  color: #ff3636;
  transition: 0.2s;
}

.banner_area .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ff3636;
  border: 0;
  width: 60px;
  height: 60px;
  line-height: 68px;
  z-index: 2;
  transition: 0.3s;
  cursor: pointer;
}
.banner_area .slick-arrow:hover {
  background-color: #333;
}
.banner_area .slick-arrow.slick-prev {
  right: 50px;
}
.banner_area .slick-arrow.slick-next {
  left: 50px;
}
.banner_area .slick-arrow i {
  color: #fff;
  font-size: 22px;
}
.banner_area .single_banner {
  position: relative;
  height: 100vh;
}
.banner_area .single_banner .banner_content {
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner_area .single_banner .banner_content h5 {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 700;
}
.banner_area .single_banner .banner_content h2 {
  font-size: 60px;
  text-transform: capitalize;
  margin: 20px 0;
  font-weight: 800;
}
.banner_area .single_banner .banner_content .banner-btn a {
  margin: 30px 10px 0;
}

.about-area .about-content p {
  margin-bottom: 25px;
}
.about-area .about-gallery {
  position: relative;
}
.about-area .about-gallery img {
  border: 1px solid #ddd;
}
.about-area .about-gallery img:nth-child(1) {
  max-width: 480px;
}
.about-area .about-gallery img:nth-child(2) {
  max-width: 350px;
  position: absolute;
  right: 0;
  left: 206px;
  bottom: -80px;
}

.menu-area {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #F2F2F2;
}
.menu-area .single-menu {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  border: 1px solid #ddd;
}
.menu-area .single-menu:hover img {
  border-radius: 50%;
  transition: 0.3s;
}
.menu-area .single-menu img {
  max-width: 110px;
  margin-right: 20px;
  transition: 0.3s;
}
.menu-area .menu-content h4 {
  font-size: 22px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}
.menu-area .menu-content h4 span {
  float: right;
  font-weight: 600;
  color: #ff3636;
}

.cta-area .title {
  color: #fff;
  margin-bottom: 0;
}
.cta-area .title span {
  margin-bottom: 20px;
}
.cta-area .title h4 {
  font-size: 60px;
}
.cta-area .title h4 span {
  display: inline-block;
  font-size: 60px;
  color: #ff3636;
}

.services-area .title {
  text-align: center;
  margin-bottom: 70px;
}
.services-area .single-service {
  text-align: center;
  border: 1px solid #ddd;
  padding: 50px 26px;
  margin-bottom: 31px;
  position: relative;
}
.services-area .single-service:hover:before {
  width: 100%;
  transition: 0.3s;
}
.services-area .single-service:hover:after {
  width: 100%;
  transition: 0.3s;
}
.services-area .single-service:before {
  position: absolute;
  content: "";
  background-color: #ff3636;
  height: 5px;
  width: 0;
  top: -3px;
  left: 0;
  transition: 0.3s;
}
.services-area .single-service:after {
  position: absolute;
  content: "";
  background-color: #ff3636;
  height: 5px;
  width: 0;
  top: 100%;
  right: 0;
  transition: 0.3s;
}
.services-area .single-service h4 {
  font-size: 23px;
  text-transform: capitalize;
  font-weight: 700;
  margin: 14px 0;
}
.services-area .single-service img {
  overflow: hidden;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.team-area {
  background-color: #F2F2F2;
}
.team-area .title {
  margin-bottom: 70px;
}
.team-area .single-team {
  position: relative;
  overflow: hidden;
}
.team-area .single-team:hover .image {
  transform: scale(1.8);
  transition: 1s ease;
}
.team-area .single-team:hover .team-content {
  bottom: 0px;
  transition: 1s ease;
}
.team-area .single-team .team-image {
  overflow: hidden;
}
.team-area .single-team .team-image .image {
  transition: 1s ease;
  border: 3px solid #ddd;
  width: 100%;
}
.team-area .single-team .team-content {
  background-color: rgba(51, 51, 51, 0.7215686275);
  padding: 20px 0;
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: -97px;
  left: 0;
  transition: 1s ease;
}
.team-area .single-team .team-content h4 {
  font-size: 20px;
  text-transform: capitalize;
}
.team-area .single-team .team-content h4 span {
  display: block;
  text-transform: lowercase;
  font-size: 16px;
}

.testimonial-area {
  color: #fff;
}
.testimonial-area .testimonial .slick-dots {
  position: absolute;
  left: 50%;
  display: inline-block;
  transform: translateX(-50%);
}
.testimonial-area .testimonial .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.testimonial-area .testimonial .slick-dots li.slick-active button {
  background-color: #ff3636;
  border: 0;
}
.testimonial-area .testimonial .slick-dots li button {
  border-radius: 50%;
  border: 1px solid #ddd;
  line-height: 10px;
  text-indent: -9999px;
  width: 18px;
  height: 18px;
}
.testimonial-area .testimonial .single-testimonial {
  text-align: center;
  padding: 0 26px;
}
.testimonial-area .testimonial .single-testimonial img {
  border-radius: 50%;
  border: 2px dashed #ddd;
  width: 89px;
  margin: 0 auto;
}
.testimonial-area .testimonial .single-testimonial h4 {
  font-size: 23px;
  text-transform: capitalize;
  font-weight: 700;
}
.testimonial-area .testimonial .single-testimonial h4 span {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
}
.testimonial-area .testimonial .single-testimonial p {
  max-width: 600px;
  margin: 20px auto;
}

.special-menu-area {
  background-color: #F2F2F2;
}
.special-menu-area .title {
  margin-bottom: 70px;
}
.special-menu-area .backgrou-bg {
  background-color: #fff;
  padding-top: 24px;
  padding-right: 20px;
  padding-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.special-menu-area .single-menu-item {
  margin-bottom: 29px;
  display: flex;
}
.special-menu-area .single-menu-item:hover img {
  border-radius: 50%;
  transition: 1s ease;
}
.special-menu-area .single-menu-item h4 {
  font-size: 18px;
  border-bottom: 1px dashed #ddd;
  text-transform: capitalize;
}
.special-menu-area .single-menu-item h4 span {
  float: right;
  font-weight: 700;
  font-size: 15px;
}
.special-menu-area .single-menu-item img {
  width: 90px;
  transition: 1s ease;
}
.special-menu-area .single-menu-item .menu-content {
  margin-left: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 11px;
}
.special-menu-area .single-menu-item .menu-content p {
  font-size: 12px;
}

.special-food-area {
  background-size: cover;
  background-position: center;
  /* Special Food Shape area start */
}
.special-food-area .special-food-content h5 {
  font-size: 20px;
  color: #ff3636;
  font-weight: 700;
}
.special-food-area .special-food-content h4 {
  font-size: 50px;
  margin: 40px 0;
  color: #fff;
  font-weight: 800;
}
.special-food-area .special-food-content h6 {
  font-size: 20px;
  color: #FC791A;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.special-food-area .special-food-content .btn {
  border-radius: 0;
}
.special-food-area .fooed-image {
  overflow: hidden;
  transform: translatex(0px);
  animation: float2 6s ease-in-out infinite;
}
.special-food-area .fooed-image food-image {
  width: 100%;
  height: auto;
}
.special-food-area .fooed-image img {
  width: 471px;
  float: right;
}
.special-food-area .cta-wrap {
  position: relative;
}
.special-food-area .cta-wrap .cta-shape-1 {
  position: absolute;
  top: -88px;
  left: 16px;
  transform: translatex(0px);
  animation: shape-1 6s ease-in-out infinite;
}
.special-food-area .cta-wrap .cta-shape-1 shape-image-1 {
  width: 100%;
  height: auto;
}
.special-food-area .cta-wrap .cta-shape-2 {
  position: absolute;
  bottom: -87px;
  left: 0;
  transform: translateY(0px);
  animation: shape-2 6s ease-in-out infinite;
}
.special-food-area .cta-wrap .cta-shape-2 shape-image-2 {
  width: 100%;
  height: auto;
}
.special-food-area .cta-wrap .cta-shape-3 {
  position: absolute;
  right: 0;
  bottom: -87px;
  transform: translateY(0px);
  animation: shape-3 6s ease-in-out infinite;
}
.special-food-area .cta-wrap .cta-shape-3 shape-image-3 {
  width: 100%;
  height: auto;
}

/* Special Food shape-image-1 area start */
@keyframes shape-1 {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translatex(-20px);
  }
  100% {
    transform: translatex(0px);
  }
}
/* Special Food shape-image-1 area End */
/* Special Food shape-image-2 area star */
@keyframes shape-2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* Special Food shape-image-2 area star */
/* Special Food shape-image-3 area star */
@keyframes shape-3 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* Special Food shape-image-3 area end */
.scecial-food-area2 {
  position: relative;
}

.shape1 {
  position: absolute;
  left: 73px;
  top: 68px;
}

.shape {
  animation: rotation 10s infinite linear;
  display: block;
  width: 100%;
  height: 100px;
  margin-top: 50px;
}

@keyframes float2 {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translatex(-20px);
  }
  100% {
    transform: translatex(0px);
  }
}
@keyframes float2 {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translatex(-20px);
  }
  100% {
    transform: translatex(0px);
  }
}
.blog-area {
  background-color: #F2F2F2;
}
.blog-area .title {
  margin-bottom: 70px;
}
.blog-area .single-blog:hover .image {
  transform: scale(1.1);
  transition: 1s ease;
}
.blog-area .single-blog .blog-image {
  overflow: hidden;
}
.blog-area .single-blog .blog-image .image {
  transition: 1s ease;
}
.blog-area .single-blog .blog-content {
  padding: 25px;
  background-color: #fff;
}
.blog-area .single-blog .blog-content a:hover {
  color: #ff3636 !important;
}
.blog-area .single-blog .blog-content h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0;
}
.blog-area .single-blog .blog-content .btn {
  padding: 0;
  border-radius: 0;
  display: inline-block;
  color: #646262;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.blog-area .single-blog .blog-content .btn .btn:hover {
  color: #ff3636;
}
.blog-area .single-blog .blog-content .btn.btn-box {
  background-color: transparent;
}
.blog-area .single-blog .blog-content .blog-meta {
  display: flex;
  align-items: center;
  gap: 28px;
}
.blog-area .single-blog .blog-content .blog-meta .item1 {
  background-color: #ff3636;
  padding: 10px 20px;
  color: #fff;
}
.blog-area .single-blog .blog-content .blog-meta .item1 h6 {
  font-size: 24px;
  font-weight: 800;
}
.blog-area .single-blog .blog-content .blog-meta .item1 p {
  text-transform: capitalize;
  font-size: 12px;
}
.blog-area .single-blog .blog-content .blog-meta .item2 .icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.blog-area .single-blog .blog-content .blog-meta .item2 .icon i {
  color: #ff3636;
}
.blog-area .single-blog .blog-content .blog-meta .item2 .icon span {
  font-size: 15px;
  text-transform: capitalize;
}
.blog-area .single-blog .blog-content .blog-meta .item3 .icon i {
  color: #ff3636;
}

.footer-area {
  background-size: cover;
  background-position: center;
}
.footer-area .footer-cta {
  background-color: #e63131;
  padding: 50px 50px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  margin-bottom: 70px;
}
.footer-area .footer-cta .single-cta {
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer-area .footer-cta .single-cta h4 {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
.footer-area .footer-cta .single-cta i {
  font-size: 25px;
  background-color: #fff;
  color: #ff3636;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
}
.footer-area .footer-cta .single-cta span {
  display: block;
  font-size: 15px;
  text-transform: capitalize;
}

.single-widget {
  color: #fff;
}

.single-widget h4 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 30px;
}

.single-widget ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.list-area li {
  padding-bottom: 17px;
}

.social_list li {
  display: inline-block;
  margin-right: 7px;
}

.social_list li a i {
  border: 1px solid #4d4b4b;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.single-widget p {
  margin: 40px 0;
}

.newsletter input {
  width: 100%;
  padding: 24px 13px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding-right: 68px;
}

.newsletter button {
  background-color: tomato;
}

.newsletter button {
  border: navajowhite;
  position: absolute;
  margin-left: -58px;
  margin-top: 8px;
  border-radius: 10px;
}

.newsletter button i {
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  /*! border-radius: 10px; */
  color: #fff;
}/*# sourceMappingURL=style.css.map */