
.about-area{
    .about-content{
        p {
            margin-bottom: 25px;
        }
    }
    .about-gallery {
        position: relative;
        img {
            border: 1px solid #ddd;
            &:nth-child(1) {
                max-width: 480px;
            }
            &:nth-child(2) {
                max-width: 350px;
                position: absolute;
                right: 0;
                left: 206px;
                bottom: -80px;
            }
        }
    }
}





  

