
.about-area{
    .about-content{
        p {
            margin-bottom: 25px;
        }
    }
    .about-gallery {
        position: relative;
        img {
            border: 1px solid #ddd;
            &:nth-child(1) {
                max-width: 480px;
            }
            &:nth-child(2) {
                max-width: 350px;
                position: absolute;
                right: 0;
                left: 206px;
                bottom: -80px;
                @include min-xl{
                    left: 183px;
                }
            }
        }
    }
    /* About Shape area start */ 
    .about-wrap {
        position: relative;
        .about-shape-1 {
            position: absolute;
            bottom: -77px;
            transform: translateY(0px);
            animation: about-shape-1 6s ease-in-out infinite;
            about-shape-image-1 { width: 100%; height: auto; }
            @include min-xl{
                bottom: 470px;
            }
            img{
                @include min-xl{
                    width:75px;
                }
            }
        }
          .about-shape-2 {
            position: absolute;
            right: 0;
            top: 0px;
            transform: translatex(0px);
            animation: about-shape-2 6s ease-in-out infinite;
            about-shape-image-2 { width: 100%; height: auto; }
            @include min-xl{
            top:500px;
            }
            img{
                @include min-xl{
                    width:75px;
                }
            }
        }
    }
    /* About Shape area end */ 
}


/* About Shape-image-area-1 start */ 
@keyframes about-shape-1 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
/* About Shape-image-area-1 end */ 


/* About Shape-image-area-2 start */ 
@keyframes about-shape-2 {
    0% {
        transform: translatex(0px);
    }
    50% {
        transform: translatex(-20px);
    }
    100% {
        transform: translatex(0px);
    }
}
/* About Shape-image-area-2 end */ 










  

