.blog-area{
    background-color: #F2F2F2;
    .title{
        margin-bottom: 70px;
        h4{
            @include min-xs{
                line-height: 44px;
                font-size: 33px;
            }
        }
    }
    .single-blog{
        margin-bottom: 30px;
        &:hover .image {
            transform: scale(1.1);
            transition: 1s ease;
        }
        .blog-image {
            overflow: hidden;
            .image {
                transition: 1s ease;
                @include min-md{
                    width: 100%;
                }
            }
        }
        .blog-content{
            padding: 25px;
            background-color: #fff;
            @include min-lg{
                padding:20px;
            }
            a{
                &:hover {
                    color: #ff3636 !important;
                }
            }
            h4 {
                font-size: 20px;
                font-weight: 700;
                margin: 20px 0;
                @include min-lg{
                    font-size: 14px;
                }
            }
            .btn {
                padding: 0;
                border-radius: 0;
                display: inline-block;
                color: #646262;
                font-size: 16px;
                font-weight: 600;
                text-transform: capitalize;
                @include min-lg{
                    font-size: 14px;
                }
                .btn:hover{
                    color: #ff3636;
                }
                &.btn-box{
                    background-color: transparent;
                }
            }

            .blog-meta {
                display: flex;
                align-items: center;
                gap: 28px;
                .item1 {
                    background-color: #ff3636;
                    padding: 10px 20px;
                    color: #fff;
                    @include min-lg{
                        padding: 4px 10px;
                    }
                    h6 {
                        font-size: 24px;
                        font-weight: 800;
                        @include min-lg{
                            font-size:16px;
                        }
                    }
                    p {
                        text-transform: capitalize;
                        font-size: 12px;
                        @include min-lg{
                            margin-top: -8px;
                            font-size: 11px;
                        }
                    }
                }
                .item2{
                    .icon {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        i {
                            color: #ff3636;
                            @include min-lg{
                                font-size: 13px;
                            }
                        }
                        span {
                            font-size: 13px;
                            text-transform: capitalize;
                            font-weight: 400;
                            line-height: 10px;
                            @include min-lg{
                                font-size: 11px;
                            }
                        }
                    }
                }
                .item3{
                    .icon i {
                        color: #ff3636;
                        @include min-lg{
                            font-size: 13px;
                        }
                    }
                    .icon{
                        @include min-lg{
                            display: flex;
                            flex-direction: row;
                            gap: 8px;
                            align-items: center;
                        }
                        span {
                            font-size: 11px;
                            line-height: 27px;
                            font-weight: 400;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}





