.cta-area{
    .title {
        color: #fff;
        margin-bottom: 0;
        span{
            margin-bottom: 20px;
        }
        h4 {
            font-size: 60px;
            @include min-sm{
                font-size: 25px;
            }
            @include min-md{
                font-size: 35px;
            }
            @include min-lg{
                font-size: 30px;
            }
            @include min-xl{
                font-size: 34px;
            }
            span {
                display: inline-block;
                font-size: 60px;
                color: #ff3636;
                @include min-sm{
                    font-size: 25px;
                    font-weight: 800;
                }
                @include min-md{
                    font-size: 35px;
                    font-weight: 800;
                }
                @include min-lg{
                    font-size: 30px;
                }
                @include min-xl{
                    font-size: 34px;
                }
            }
        }
    }
    /* Cta Discount Shape area start */ 
    .cta-discount-wrap {
        position: relative;
        .cta-discount-shape-1 {
            position: absolute;
            left: 40px;
            top: 0;
            animation: cta-discount-image-1 15s linear infinite;
            .cta-dis-img-1 {
                width: 150px;
            }
            @include min-sm{
                display: none;
            }
            @include min-md{
                display: none;
            }
        }
        .cta-discount-shape-2 {
            position: absolute;
            right: 40px;
            top: 0;
            animation: cta-discount-image-2 15s linear infinite;
            .cta-dis-img-2 {
                width: 150px;
            }
            @include min-sm{
                display: none;
            }
            @include min-md{
                display: none;
            }
        }
    }
    /* Cta Discount Shape area end */ 
}


/*  Cta Discount Shape-image-1 area  start */ 
@keyframes cta-discount-image-1 {
    0% {
        transform: trotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*  Cta Discount Shape-image-1 area  end */ 

/*  Cta Discount Shape-image-2 area  start */ 
@keyframes cta-discount-image-2 {
    0% {
        transform: trotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*  Cta Discount Shape-image-2 area  end */ 







  




