.cta-area{
    .title {
        color: #fff;
        margin-bottom: 0;
        span{
            margin-bottom: 20px;
        }
        h4 {
            font-size: 60px;
            span {
                display: inline-block;
                font-size: 60px;
                color: #ff3636;
            }
        }
    }
}



