
.footer-area {
	background-size: cover;
	background-position: center;
    .footer-cta {
        background-color: #e63131;
        padding: 50px 50px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        margin-bottom: 70px;
        .single-cta {
            display: flex;
            gap: 16px;
            align-items: center;
            h4 {
                font-size: 20px;
                font-weight: 700;
                text-transform: capitalize;
            }
            i {
                font-size: 25px;
                background-color: #fff;
                color: #ff3636;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                line-height: 50px;
                text-align: center;
            }
            span {
                display: block;
                font-size: 15px;
                text-transform: capitalize;
            }
        }
    }
}








.single-widget {
    color: #fff;
  }
  .single-widget h4 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .single-widget ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
  }
  .list-area li {
    padding-bottom: 17px;
  }




  .social_list li {
    display: inline-block;
    margin-right: 7px;
  }
  .social_list li a i {
    border: 1px solid #4d4b4b;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  .single-widget p {
    margin: 40px 0;
  }

  
.newsletter input {
    width: 100%;
    padding: 19px 13px;
    border-radius: 10px;
    border: 1px solid #ddd;
  }
  .newsletter button {
    background-color: tomato;
  }





  



