
.footer-area {
	background-size: cover;
	background-position: center;
    .footer-cta {
        background-color: #e63131;
        padding: 50px 50px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        margin-bottom: 70px;
        .single-cta {
            display: flex;
            gap: 16px;
            align-items: center;
            h4 {
                font-size: 20px;
                font-weight: 700;
                text-transform: capitalize;
            }
            i {
                font-size: 25px;
                background-color: #fff;
                color: #ff3636;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                line-height: 50px;
                text-align: center;
            }
            span {
                display: block;
                font-size: 15px;
                text-transform: capitalize;
            }
        }
    }
    .single-widget {
      color: #fff;
      ul{
        li{
          padding-bottom: 17px;
          color: #868080;
          span {
            color: #E63131;
            font-size: 15px;
          }
          a{
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            &:hover {
              color: #E63131;
            }
          }
        }
      }
      h4 {
        font-size: 20px;
        text-transform: capitalize;
        font-weight: 600;
        margin-bottom: 30px;
      }
      p {
        margin: 40px 0;
      }
      .footer-social{
        .social_list{
          li{
            display: inline-block;
            margin-right: 7px;
            &:hover {
              background-color: #E63131;
              transition: .3s;
            }
            a{
              &:hover {
                color: #fff;
              }
              i{
                border: 1px solid #4d4b4b;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                &:hover {
                  border: 1px solid #E63131;
                  transition: .3s;
                }
              }
            }
          }
        }
      }
      .newsletter{
        input {
          width: 100%;
          padding: 24px 13px;
          border-radius: 10px;
          border: 1px solid #ddd;
          padding-right: 68px;
        }
        button {
          background-color: #E63131;
          border: navajowhite;
          position: absolute;
          margin-left: -58px;
          margin-top: 8px;
          border-radius: 10px;
          i {
            font-size: 20px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            color: #fff;
          }
        }
      }
    }

}


.footer-copyright-area {
  padding: 35px;
  text-align: center;
  background-color: #E63131;
  color: #fff;
  .copyright{
    p {
      font-weight: 600;
    }
  }
}


