
.header_area {
    padding: 22px 0;
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    .header_menu{
        ul{
            li{
                a{
                    display: block;
                    margin-left: 25px;
                    text-transform: capitalize;
                    font-weight: 500;
                    font-size: 18px;
                    color: #fff;
                    &:hover {
                        color: $brandcolor;
                        transition: .2s;
                    }
                }
            }
        }
    }
}



