.menu-area {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
	background-color: #F2F2F2;
    .title{
        @include min-xl{
            margin-bottom: 70px;
        }
    }
    .single-menu {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 30px;
        display: flex;
        border: 1px solid #ddd;
        @include min-lg{
            flex-direction: column;
            align-items: center;
        }
        @include min-xl{
            flex-direction: column;
            align-items: center;
            padding: 30px 20px;
        }
        &:hover img {
            border-radius: 50%;
            transition: .3s;
        }
        img {
            max-width: 110px;
            margin-right: 20px;
            transition: .3s;
            @include min-lg{
                margin-bottom: 23px;
            }

        }
    }
    .menu-content{
        @include min-lg{
            text-align: center;
        }
        h4 {
            font-size: 22px;
            border-bottom: 1px dashed #ddd;
            padding-bottom: 10px;
            margin-bottom: 10px;
            font-weight: 600;
            @include min-xl{
                margin-top: 14px;
            }
            span {
                float: right;
                font-weight: 600;
                color: #ff3636;
                @include min-lg{
                    float: none;
                    font-weight: 600;
                    color: #ff3636;
                    margin-left: 60px;
                }
            }
        }
        p{
            @include min-xl{
                text-align: center;
            } 
        }
    }
}












 