










.single-service h4 {
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 700;
    margin: 14px 0;
  }
  .single-service {
    text-align: center;
    border: 1px solid #ddd;
    padding: 50px 26px;
    margin-bottom: 31px;
  }

  .title {
	text-align: center;
	margin-bottom: 70px;
}