.special-food-area {
	background-size: cover;
	background-position: center;
    .special-food-content{
        @include min-lg{
            position: absolute;
            z-index: 9;
        }
        @include min-xl{
            position: absolute;
        }
        h5 {
            font-size: 20px;
            color: #ff3636;
            font-weight: 700;
        }
        h4 {
            font-size: 50px;
            margin: 40px 0;
            color: #fff;
            font-weight: 800;
            @include min-lg{
                font-size: 40px;
            }
        }
        h6 {
            font-size: 20px;
            color: #FC791A;
            text-transform: capitalize;
            margin-bottom: 40px;
        }
        .btn {
            border-radius: 0;
        }
    }
    .fooed-image{
        overflow: hidden;
        transform: translatex(0px);
        animation: float2 6s ease-in-out infinite;
        food-image { width: 100%; height: auto; }
        img {
            @include min-lg{
                width: 90%;
                float: right;
            }
            @include min-xl{
                width: 400px;
                float: right; 
            }
            @include min-xxl{
                width: 471px;
                float: right; 
            }  
        }

    }
    /* Special Food Shape area start */
    .cta-wrap{
        position: relative;
        .cta-shape-1 {
            position: absolute;
            top: -88px;
            left: 16px;
            transform: translatex(0px);
            animation: shape-1  6s ease-in-out infinite;
            shape-image-1 { width: 100%; height: auto; }
        }
        .cta-shape-2 {
            position: absolute;
            bottom: -87px;
            left: 0;
            transform: translateY(0px);
            animation: shape-2 6s ease-in-out infinite;
            shape-image-2 { width: 100%; height: auto;}
        }
        .cta-shape-3 {
            position: absolute;
            right: 0;
            bottom: -87px;
            transform: translateY(0px);
            animation: shape-3 6s ease-in-out infinite;
            shape-image-3 { width: 100%; height: auto; }
        }
    } 
}



/* Special Food shape-image-1 area start */ 
  @keyframes shape-1 {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(-20px);
	}
	100% {
		transform: translatex(0px);
	}
}
/* Special Food shape-image-1 area End */ 

/* Special Food shape-image-2 area star */ 
@keyframes shape-2{
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
/* Special Food shape-image-2 area star */ 

/* Special Food shape-image-3 area star */ 
@keyframes shape-3{
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
/* Special Food shape-image-3 area end */ 

/* Special Food shape-image-4 area start */ 
@keyframes float2 {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(-20px);
	}
	100% {
		transform: translatex(0px);
	}
}
/* Special Food shape-image-4 area end */ 





// .scecial-food-area2 {
//     position: relative;
//   }
//   .shape1 {
//     position: absolute;
//     left: 73px;
//     top: 68px;
//     width: 150px;
// 	height: 150px;
// 	box-sizing: border-box;
// 	border: 5px white solid;
// 	border-radius: 50%;
// 	overflow: hidden;
// 	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
// 	transform: translatex(0px);
// 	// animation: float3 6s ease-in-out infinite;
//     animation: float3 20s linear infinite;
// 	img { width: 100%; height: auto; }
//   }
//   .shape1 img {
//     width: 190px;
//   }

//   .shape {
//     animation: rotation 10s infinite linear;
//     display: block;
//     width: 100%;
//     height: 100px;
//     margin-top: 50px;
//   }


//   @keyframes float2 {
// 	0% {
// 		transform: translatex(0px);
// 	}
// 	50% {
// 		transform: translatex(-20px);
// 	}
// 	100% {
// 		transform: translatex(0px);
// 	}
// }



//   @keyframes float3 {
// 	0% {
// 		// box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
// 		// transform: ro(0px);
//         transform: translatex(0px);
//         // transform: rotate(360deg);
// 	}
// 	50% {
// 		// box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
//         // transform: rotate(360deg);
// 		transform: translatex(-20px);
// 	}
// 	100% {
// 		// box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
//         // transform: rotate(360deg);
// 		transform: translatex(0px);
// 	}
// }


// @keyframes float2 {
// 	0% {
// 		// box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
// 		transform: translatex(0px);
// 	}
// 	50% {
// 		// box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
// 		transform: translatex(-20px);
// 	}
// 	100% {
// 		// box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
// 		transform: translatex(0px);
// 	}
// }