
.special-menu-area{
    background-color: #F2F2F2;
    .title {
        margin-bottom: 70px;
    }
    .backgrou-bg {
        background-color: #fff;
        padding-top: 24px;
        padding-right: 20px;
        padding-left: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    .single-menu-item {
        margin-bottom: 29px;
        display: flex;
        &:hover img {
            border-radius: 50%;
            transition: 1s ease;
        }
        h4 {
            font-size: 18px;
            border-bottom: 1px dashed #ddd;
            text-transform: capitalize;
            @include min-lg{
                font-size: 13px;
            }
            span {
                float: right;
                font-weight: 700;
                font-size: 15px;
                @include min-lg{
                    font-size: 11px;
                }
            }
        }
        img {
            width: 90px;
            transition: 1s ease;
            @include min-lg{
                width: 60px;
                height: 60px;
            }
        }
        .menu-content {
            margin-left: 11px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding: 11px;
            p {
                font-size: 12px;
            }            
        }
    }
}


