
.testimonial-area{
    color: #fff;
    .testimonial{
        .slick-dots {
            position: absolute;
            left: 50%;
            display: inline-block;
            transform: translateX(-50%);
            li {
                display: inline-block;
                margin: 0 5px;
                &.slick-active button  {
                    background-color: #ff3636;
                    border: 0;
                }
                button {
                    border-radius: 50%;
                    border: 1px solid #ddd;
                    line-height: 10px;
                    text-indent: -9999px;
                    width: 18px;
                    height: 18px;
                }
            }
        }
        .single-testimonial {
            text-align: center;
            padding: 0 26px;
            img {
                border-radius: 50%;
                border: 2px dashed #ddd;
                width: 89px;
                margin: 0 auto;
            }
            h4 {
                font-size: 23px;
                text-transform: capitalize;
                font-weight: 700;
                span {
                    display: block;
                    font-size: 16px;
                    text-transform: capitalize;
                }
            }
            p {
                max-width: 600px;
                margin: 20px auto;
            }
        }
    }

}











  
