
.about-us-area{
    .about-us-wrapper {
        position: relative;
        .about-bg-shape-1 {
            position: absolute;
            right: 0;
        }
        .shape-top-1 {
            position: absolute;
            top: 90px;
            right: 186px;
            animation: shape-top-1 18s linear infinite;
        }
        .shape-top-2 {
            position: absolute;
            top: 98px;
            left: 191px;
            animation: shape-top-2 18s linear infinite;
        }
        .middle-content{
            .about-content {
                position: absolute;
                top: 194px;
                text-align: center;
                right: 650px;
                h5 {
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #ff3636;
                    font-weight: 700;
                }
                h4 {
                    font-size: 42px;
                    font-weight: 800;
                    text-transform: capitalize;
                    margin: 21px 0;
                    line-height: 53px;
                }
                p {
                    width: 607px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}



/* shape-top-1 animation start */ 
@keyframes shape-top-1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* shape-top-1 animation end */ 


/* shape-top-2 animation start */ 
@keyframes shape-top-2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* shape-top-2 animation end */ 

