












.single-gallery {
    position: relative;
    margin-bottom: 30px;
  }
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 400px;
    // background-color: tomato;
    width: 100%;
    justify-content: center;
    // font-size: 34px;
    z-index: 5;
    transition: 1s ease;
    opacity: 0;
    visibility: hidden;
  }
  .icon i {
    rotate: -38deg;
    color: #fff;
    font-size: 40px;
  }

  
.single-gallery:before {
    position: absolute;
    content: "";
    background-color: rgba(51, 51, 51, 0.74);
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    transition: 1s ease;
  }
  .single-gallery::after {
    position: absolute;
    content: "";
    background-color: rgba(51, 51, 51, 0.74);
    width: 0;
    height: 100%;
    right: 0;
    top: 0;
    transition: 1s ease;
  }
  .single-gallery:hover:before {
    width: 50%;
    transition: 1s ease;
  }
  .single-gallery:hover::after {
    width: 50%;
    transition: 1s ease;
  }

  .single-gallery:hover .icon {
    opacity: 1;
    visibility: visible;
    transition: 4s ease;
  }