
.offer-area{
    background-color: #F2F2F2;
    .offer-card{
        .btn {
            padding: 10px 12px;
            font-size: 14px;
        }
    }
}
















.offer-content {
    color: #fff;
  }
  .offer-content h4 {
    font-size: 18px;
  }
  .offer-card {
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 10px;
    padding: 16px 24px;
  }

  .offer-thumbnail {
    position: relative;
  }
  .shape {
    position: absolute;
    top: 0;
  }

  .offer-thumbnail img {
	width: 140px;
}