
.offer-area{
    background-color: #F2F2F2;
    .offer-card{
        display: flex;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        gap: 10px;
        padding: 16px 24px;
        .btn {
            padding: 5px 10px;
            font-size: 14px;
            &.btn-box {
                background-color: #333;
            }
        }
        .offer-content {
            color: #fff;
            h4 {
                font-size: 18px;
                margin: 6px 0;
            }
            h5 {
                font-size: 14px;
            }
            p {
                margin: 9px 0;
            }
            a {
                text-transform: uppercase;
                font-size: 13px !important;
            }
            .btn-bg {
                background-color: #ff3636 !important;
            }
        }
        .offer-thumbnail {
            position: relative;
            .shape {
                position: absolute;
                top: -19px;
                left: -21px;
                transform: translateX(0px);
                animation: offer-image 6s ease-in-out infinite;
                offer-image { width: 68px; height: auto; }
                .offer-image {
                    width: 68px;
                }
            }
        }
    }
}


/* Offer shape animation start */ 
@keyframes offer-image {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0px);
    }
}
/* Offer shape animation end */ 